<div class="transaction-list-card">
  <div class="table-header-row">
    <h3>{{ 'tx.title' | translate }}</h3>
    <span class="count-chip">{{ transactions.length }}</span>
  </div>

  @if (transactions.length === 0) {
    <div class="empty-state-container">
      @if (isFiltered) {
        <i class="pi pi-filter-slash empty-icon"></i>
        <h4>{{ 'txList.noTxFiltered' | translate }}</h4>
        <p>{{ 'txList.noTx' | translate }}</p>
      } @else {
        <i class="pi pi-receipt empty-icon"></i>
        <h4>{{ 'txList.noTxUnfiltered' | translate }}</h4>
        <p>{{ 'txList.noTx' | translate }}</p>
      }
    </div>
  } @else {
    <div class="table-responsive-wrapper">
      <p-table
        [value]="transactions"
        [scrollable]="true"
        scrollHeight="460px"
        [virtualScroll]="true"
        [virtualScrollItemSize]="54"
        styleClass="p-datatable-striped p-datatable-sm custom-tx-table"
        dataKey="id"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>{{ 'txList.colDate' | translate }}</th>
            <th>{{ 'txList.colMerchant' | translate }}</th>
            <th>{{ 'txList.colCategory' | translate }}</th>
            <th>{{ 'txList.colType' | translate }}</th>
            <th class="text-right">{{ 'txList.colAmount' | translate }}</th>
            <th class="text-right">{{ 'txList.colBalance' | translate }}</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-tx>
          <tr>
            <td>
              <div class="date-cell">
                <i class="pi pi-calendar-times date-icon"></i>
                <span>{{ tx.date | date:'mediumDate' }}</span>
              </div>
            </td>
            <td>
              <div class="merchant-cell">
                <strong class="merchant-name">{{ tx.merchant }}</strong>
                @if (tx.description) {
                  <span class="tx-description">{{ tx.description }}</span>
                }
              </div>
            </td>
            <td>
              <p-tag [value]="('cat.' + tx.category) | translate" [severity]="getCategorySeverity(tx.category)"></p-tag>
            </td>
            <td>
              <p-tag
                [value]="('type.' + tx.type) | translate"
                [severity]="getTypeSeverity(tx.type)"
                [icon]="tx.type === 'Credit' ? 'pi pi-arrow-down-left' : 'pi pi-arrow-up-right'"
              ></p-tag>
            </td>
            <td class="text-right">
              <span
                class="amount-display font-semibold"
                [class.credit-text]="tx.type === 'Credit'"
                [class.debit-text]="tx.type === 'Debit'"
              >
                {{ tx.type === 'Credit' ? '+' : '-' }}{{ tx.amount | currency:'EGP':'symbol':'1.2-2' }}
              </span>
            </td>
            <td class="text-right">
              <span class="balance-after-text">
                {{ tx.balanceAfter | currency:'EGP':'symbol':'1.2-2' }}
              </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  }
</div>
